name: Update JSON from Excel

on:
  schedule:
    - cron: '*/5 * * * *' # каждые 5 минут
  workflow_dispatch:

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install openpyxl pandas

      - name: Convert Excel to JSON
        run: |
          python convert_excel.py

      - name: Commit JSON
        run: |
          git config user.name "github-actions"
          git config user.email "action@github.com"
          git add data.json
          git commit -m "Update JSON from Excel" || echo "No changes"
          git push
